* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}


/* general styling */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.762), rgba(255, 255, 255, 0.721)), url("./img/IMG_20200728_003150_Bokeh.jpg");
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    color: white;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}