* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --hor: 100px;
    --ver: 60px;
}

.row {
    width: 80%;
    background-color: yellow;
    margin: 0 auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row:not(:last-child) {
    margin-bottom: var(--ver);
}

.col-1-of-3 {
    width: calc((100% - var(--hor)*2)/3);
    float: left;
    background-color: red;
}

.col-1-of-3:not(:last-child) {
    margin-right: var(--hor);
}

.col-1-of-2 {
    width: calc((100% - var(--hor))/2);
    float: left;
    background-color: red;
}

.col-1-of-2:not(:last-child) {
    margin-right: var(--hor);
}

.col-2-of-3 {
    width: calc((100% - var(--hor)*2)/3 *2 + var(--hor));
    float: left;
    background-color: red;
}

.col-1-of-4 {
    width: calc((100% - var(--hor)*3)/4);
    float: left;
    background-color: red;
}

.col-1-of-4:not(:last-child) {
    margin-right: var(--hor);
}

.col-1-of-6 {
    width: calc((100% - var(--hor)*5)/6);
    float: left;
    background-color: red;
}

.col-1-of-6:not(:last-child) {
    margin-right: var(--hor);
}