* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#numcopy {
    color: black;
    background-color: #28b485;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    position: absolute;
    top: 25%;
    left: 33%;
    transform: translate(-50% -50%);
    letter-spacing: 15px;
    font-family: monospace;
    transition: all 1s;
}

.number h1:hover {
    transform: translateY(-10px) scale(1.5);
}

#copy {
    position: absolute;
    top: 40%;
    left: 44%;
    transform: translate(-50% -50%);
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 4px;
}