* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}

.image,
.torch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/daniel-clay-enbQhSLA4FY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
}

.image {
    filter: brightness(5%);
}

.torch {
    clip-path: circle(80px at 0 0);
}