* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover {
    position: relative;
    width: 250px;
    height: 350px;
    background-color: green;
    margin-top: 140px;
    transform: rotate(-30deg);
    transform: skew(25deg) scale(.7);
}

.hover img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.hover:hover img:nth-child(5) {
    transform: translate(150px, -150px);
    opacity: 1;
}

.hover:hover img:nth-child(4) {
    transform: translate(120px, -120px);
    opacity: .8;
}

.hover:hover img:nth-child(3) {
    transform: translate(80px, -80px);
    opacity: .6;
}

.hover:hover img:nth-child(2) {
    transform: translate(60px, -60px);
    opacity: .4;
}

.hover:hover img :nth-child(1) {
    transform: translate(30px, -30px);
    opacity: .2;
}