:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
    --box-shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
    --line: 1px solid var(--color-grey-light-2);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1 rem=10px, 10px/16px=62.5%
}

body {
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--box-shadow);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--line);
}

.contant {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1;
}

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;
}

.search__input:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3);
}

.search__input:focus+.search__button {
    background-color: var(--color-grey-light-3);
}

.search__button {
    border: none;
    background-color: var(--color-grey-light-2);
}

.search__button:focus {
    outline: none;
}

.search__button:focus::-webkit-input-placeholder {
    font-weight: 100;
    background-color: var(--color-grey-light-4);
}

.search__button:active {
    transform: translateY(2px);
}

.search__icons {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
}

.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.user-nav>* {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-nav>*:hover {
    background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
    position: relative;
}

.user-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-2);
}

.user-nav__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;
}

.side-nav__item {
    position: relative;
}

.side-nav__item:not(:last-child) {
    margin-bottom: .5rem;
}

.side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
}

.side-nav__item:hover::before,
.side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%;
}

.side-nav__item:active::before {
    background-color: var(--color-primary-light);
}

.side-nav__link:link,
.side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}

.side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
}

.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-4);
}

.gallery {
    display: flex;
}

.gallery__photo {
    width: 100%;
    display: block;
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line)
}

.overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
}

.overview__stars {
    margin-right: auto;
    display: flex;
}

.overview__icon-star,
.overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
}

.overview__icon-star {}

.overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center;
}

.overview__icon-location {
    margin-right: .25rem;
}

.overview-rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
}

.overview__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
}

.btn_inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
}

.btn_inline span {
    margin-left: 3px;
    transition: margin-left .2s;
}

.btn_inline:hover span {
    margin-left: 8px;
}

.btn_inline:hover {
    color: var(--color-grey-dark-1);
}

.btn_inline:focus {
    outline: none;
    animation: move 1s infinite;
}

@keyframes move {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {
    background-color: #fff;
    box-shadow: var(--box-shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
}

.list-items {
    flex: 0 0 50%;
    margin-bottom: .7rem;
}

.list-items::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(./img/svg/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(./img/svg/chevron-thin-right.svg);
    mask-size: cover;
}

.recommed {
    font-size: 1.3rem;
    color: var(--color-grey-darkk-3);
    display: flex;
    align-items: center;
}

.recommed-count {
    margin-right: auto;
}

.recommed-friends {}

.recommed-photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
}

.recommed-photo:not(:last-child) {
    margin-right: -1.5rem;
}

.review {
    background-color: #fff;
    box-shadow: var(--box-shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;
}

.review-text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
}

.review-user {
    display: flex;
    align-items: center;
}

.review-photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.review-user__box {
    margin-right: auto;
}

.review-user__name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
}

.review-user__date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
}

.veview-rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
}

.review::before {
    content: "\201C";
    position: absolute;
    line-height: 1;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
}

.cta {
    padding: 3.5rem;
    text-align: center;
}

.cta__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    text-transform: uppercase;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.btn>* {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
}

.btn:hover {
    background-image: linear-gradient(to left, var(--color-primary), var(--color-primary-dark));
}

.btn__visible {
    padding: 2rem 7.5rem;
}

.btn__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
}

.btn:hover .btn__visible {
    transform: translateY(100%);
}

.btn:hover .btn__invisible {
    top: 0;
}

.btn:focus {
    outline: none;
    animation: move 1s infinite;
}